/* font import */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One);
/* Color branding roots */
:root {
  /* Branding Colors */
  --main-branding-color: rgb(255, 0, 43);
  --main-branding-sub: rgb(0, 0, 0);
  --main-background-grey: rgba(190, 185, 185, 0.42);
  --secondary-branding-alt: rgba(255, 187, 0, 0.876);
  /* Gradient colors */
  --gradiant-color-1-background-image: linear-gradient (to right, rgba(255, 0, 0, 0), rgba(190, 185, 185, 0.42));
  /* Fonts */
  --font-sizing-paragraphs: 1.2rem;
  --font-type-1-main: "Open Sans Condensed",
    sans-serif;
  --font-type-2-header-tags: "Sonsie One",
    sans-serif;
  /* sizing  */
  --font-type-1-header-size-large: 2.8rem;
  --font-type-1-header-size-meduim: 1.9rem;
  --font-type-1-header-size-small: 1.4rem;
  --font-type-2-paragraph-size-large: 2.2rem;
  --font-type-2-paragraph-size-meduim: 1.9rem;
  }

/* Global stylying */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}

body {
  margin: 1.1rem;
  padding: 10px;
  margin: 25px;
}

nav {
}
form {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: var(--font-type-1-main);
  font-weight: 500;
  font-size: var(--font-type-2-paragraph-size-meduim);
  color: var(--main-branding-sub);
  text-decoration: none;
  display: inline;
  padding: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100;
  background-postion: center;
  background-size: cover;
  position: relative;
  background-color: var(--secondary-branding-alt);
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  font-family: var(--font-type-2-header-tags);
}
@media screen and (min-width:300px) {

  h1 {
    font-size: var(--font-type-1-header-size-small);
  }
}

@media screen and (min-width:600px) {

  h1 {
    font-size: var(--font-type-1-header-size-meduim);
  }
}

@media screen and (min-width:1200px) {

  h1 {
    font-size: var(--font-type-1-header-size-large);
  }
}

h1 {
  /* font-size: 2.2rem; */
  font-size: var(--font-type-1-header-size-large);
  padding-bottom: 1.5rem;
  color: var(--main-branding-sub);

}

h2 {
  font-size: 1.8rem;
  padding: 1rem;
  color: var(--main-branding-sub);
}

h3 {
  font-size: 1.6rem;
  padding: 1rem;
  color: var(--main-branding-sub);
  }

p {
  font-size: 1.8rem;
  padding: 1rem;
  color: var(--main-branding-sub);
  font-size: var(--font-sizing-paragraphs);
}
img {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  opacity: 0.5;
}
sup {
  padding: 1rem;
  font-size: var();
}
/* second heading ammendment  */
.header-section-body {
  margin-bottom: 2px;
}
.body-copy {
  margin-bottom: 2%;
}

.site-heading {
  color: black;
  letter-spacing: 2px;
}

.scrollmenu {
  padding: 8px 13px 9px 7px;
  font-size: 20px;
  float: left;
}
/* image columns  */
.body-creative-work {
  padding-top: 2%;
}
/* image 3 column  */
div.polaroid-container {
  box-sizing: border-box;
  use flex
}

.polaroid-body::after {
  clear: both;
  display: table;
}
div.polaroid {
  background-color: white;
  margin-bottom: 25px;
  max-width: 31.05%;
  width: 125%;
  padding: 13px;
  margin: 13 px;
  float: left;
}

div.container {
  text-align: left;
  padding: 1px 1px;
  /* image colums hover state  */
  position: relative;
  width: 50%;
  }

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}