/* Global stylying */
html {
  padding: 0 auto;
  margin: 0 auto;
}

h1 {
  text-align: right;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: left;
  color: blue;
  break-after: page;
}
img {
  img: 100%;
}
ul {
  text-decoration: none;
  list-style-type: none;
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;

}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  /* Elements styling */
  .second-copy-banner {}

  .banner {
    position: absolute;
    float: left;
  }

  .second-banner-copy {
    position: absolute;
    float: right;
  }

  .second-copy-banner-section-2 {}

  .banner-section-2 {
    position: absolute;
    float: left;
  }

  .second-banner-copy-section-2 {
    position: absolute;
    float: right;
  }