/* Global stylying */
html {
  padding: 0 auto;
  margin: 0 auto;
}
h1 {
  text-align: right;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: left;
  color: blue;
  break-after: page;
}
img {
  img: 100%;
}
ul {
  text-decoration: none;
  list-style-type: none;
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px;

}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  background-color: #777;

}
.padding-banner {
  padding: 0 auto;
  margin: 0 auto;

}

/* Elements styling */
.second-copy-banner {}

.banner {
  position: absolute;
  float: left;
}
.second-banner-copy {
  position: absolute;
  float: right;
}

.second-copy-banner-section-2 {}

.banner-section-2 {
  position: absolute;
  float: left;
}
.second-banner-copy-section-2 {
  position: absolute;
  float: right;
}

/* search bar */

.searchbox {
  float: left;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.searchbox button {

  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  background: orange;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.searchbox button:hover {
  background: blue;
}

/* scrollable menu  */
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* css for pop up box */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.cnt223 a {
  text-decoration: none;
}

.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}

.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}

.cnt223 p {
  clear: both;
  color: #555555;
  /* text-align: justify; */
  font-size: 20px;
  font-family: sans-serif;
}

.cnt223 p a {
  color: #d91900;
  font-weight: bold;
}

.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}

.cnt223 .x:hover {
  cursor: pointer;
}